.logo{
  width: 3cm;
display: block;
margin-left: 0;
}

.navbar_back {
  background-color: #0a293d; /* Color de la barra */
  padding: 10px;
  text-align: center;
  align-items: baseline; /* Alinea los elementos en la línea de base */
  }

.body {
  position: relative;
  width: 100%;
  color: #7b7676;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}